<%- include('includes/head') %>
<%- include('includes/nav') %>
    

<div class="container">
  <div class="row">
   <div class="col-lg-2"></div>
   <div class="col-lg-8 my-5">
      <h1 class="text-center"> Contatos</h1>
      <p class="text-center lead">Crie ou edite seus contatos!</p>
      <%- include('includes/messages')%>
   </div>

   <% if(ctt._id) { %>
    <form action="/contato/edit/<%= ctt._id%>" method="post" class="cadastroUser"> 
    <% } else { %>
      <form action="/contato/register" method="post" class="cadastroUser"> 
    <% } %>
     
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    
    <div class="form-group">
      <label for="nome" class="form-label"> Nome: </label>
      <input type="text" class="form-control" id="nome" name="nome" value=" <%= ctt.nome %> ">
    </div>
    
    <div class="form-group">
      <label for="sobrenome" class="form-label"> Sobrenome: </label>
      <input type="text" class="form-control" id="sobrenome"  name="sobrenome" value=" <%= ctt.sobrenome%> ">
    </div>

    <div class="form-group">
      <label for="telefone" class="form-label"> Telefone: </label>
      <input type="tel" class="form-control" id="telefone"  name="telefone" value=" <%= ctt.telefone %> ">
    </div>

    <div class="form-group">
     <label for="email" class="form-label"> Email: </label>
     <input type="email" class="form-control" id="email"  name="email" value=" <%= ctt.email %> ">
    </div>

    <div class="my-3">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>

   <div class="col-lg-2"></div>
  </div>

</div>


<%- include('includes/footer') %>
